.footer {
    position: absolute;
    bottom: 0;
    margin: auto;
    text-align: center;
    height: 40px; /* Set the fixed height of the footer here */
    line-height: 40px; /* Vertically center the text there */
  }
  