<div class="container row text-center">
  <footer class="footer col-md-8 m-auto text-muted">
    <span class="text-muted m-auto">© Copyright 2018 | All Rights Reserved </span>
    <a href="https://github.com/meanMonk/evolent-client" class="btn btn-outline-dark btn-sm rounded-circle  ml-2">
      
      <i class="fa fa-github-alt"></i>  Client
    </a>
    <a href="https://github.com/meanMonk/evolent-server" class="btn btn-outline-dark btn-sm rounded-circle  ml-2">
      <i class="fa fa-github-alt"></i> Server
    </a>
    <a href="/api-docs" target="_blank" class="btn btn-outline-dark btn-sm rounded-circle  ml-2">
      <i class="fa fa-files-o"></i>  API Docs
    </a>
  </footer>
</div>